@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

/* Oculta a barra padrão do Streamlit */
header {
  visibility: hidden;
}

.logo-container {
  display: flex;
  justify-content: flex-start; /* Alinha à esquerda, ou flex-end para à direita */
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 1500px; /* Ajuste o tamanho da imagem aqui */
  height: 100px;
}

/* Aplica a fonte globalmente a todos os elementos */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
ul,
ol,
header {
  font-family: 'Barlow', sans-serif;
  text-align: center;
}